%% -*- erlang -*-
{sub_dirs, ["src"]}.
{deps_dir, ["deps"]}.
{erl_opts, [debug_info, {i, ["include"]}]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.
{clean_files, ["*~","*/*~","*/*.xfm","test/*.beam", ".eunit", "log", "ebin/*", "erl_crash.dump"]}.
{deps, []}.
